<div id="landing">
  <div id="wrapper">

    <div ui-view="sidebar"></div>
    <div ui-view></div>
    <div id="header">

      <div class="title">QUIZZIMODO</div>
      <div class="subtitle">A community-driven quiz platform</div>
    </div>
    <div id="content">
      <div class="buttons">
        <br>
        <br>
        <br>
        <ul class="bList">
          <li>
           <div class="instructions">Log in</a> or <a ui-sref="signup">sign up</a> to get started!</div>
          </li>
        </ul>
      </div>
    </div>
    <div id="footer">
      
    </div>
  </div>
</div>
