<div id="make-quiz" layout="column" ng-cloak="" flex-offset="10" flex="80">
    <h1>Make a quiz</h1>

  <md-input-container id="topic-selector">
          <label color="white">Select Topic</label>
          <md-select ng-model="topicPick">
            <md-option ng-repeat="topic in topics" value="{{$index}}">
              {{topic.topic}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container id="subtopic-selector">
          <label color="white">Select Sub-Topic</label>
          <md-select ng-model="subtopicPick">
            <md-option ng-repeat="subtopic in subTopics" value="{{$index}}">
              {{subtopic.subtopic}}
            </md-option>
          </md-select>
        </md-input-container>
  <div class="question-setup" layout="row" layout-align="center stretch">
  
  <div layout="column" layout-align="center stretch">
    <md-content id="quiz-setup" class="md-padding" layout-xs="column" layout="row" layout-align="left center">
       <div flex-xs="50" flex-gt-xs="50" layout="column" layout-align="left center">
        <form id="title-form">
           Quiz Title: <input type="text" ng-model="quizName" /><br />
           Quiz Details: <input type="text" ng-model="quizDetails" /><br />
        </form>
      </div>
    </md-content>
    <md-content id="answer-setup" class="md-padding" layout-xs="column" layout="row" layout-align="left center">
      <div flex-xs="50" flex-gt-xs="50" layout="column" layout-align="left">
    <div id="question">
    <form>
      Question: <input type="text" ng-model="question.question" /><br /><br>
    </form>
    <div id="answers">
      <form id="answerForm">
      Mark the correct answer:
        <br>
        <div ng-repeat="answer in question.answer_options">
          <input type="radio" name="answerRadio" ng-value=true ng-model="answer.correct"> Answer {{$index + 1}}: <input type="text" ng-model="question.answer_options[$index].answer" /><br />
        </div>
          <section layout="row" layout-sm="column" layout-wrap="">
          <md-button class="md-raised" ng-hide="currentlyEditing" ng-click="addQuestion()">Add a Question</md-button> 
          <section layout="row" layout-sm="column" layout-wrap="">
          <md-button class="md-raised" ng-show="currentlyEditing" ng-click="updateQuestion()">Update Question</md-button>
          <section layout="row" layout-sm="column" layout-wrap="">
          <md-button class="md-raised" ng-hide="currentlyEditing" ng-click="submitQuiz(quiz.quiz, quiz.details)">Submit Quiz</md-button>
          <div>
            Make quiz public? <input id="publicCheckbox" name="publicCheckbox" value="true" type="checkbox">
          </div>
      </form>
    </div></div>
        </div>
      </md-content>
       </div>
  
  
  
  <div id='all-questions' layout="row" layout-align="none stretch" flex-xs="50" flex-gt-xs="50">
    <md-content  id="greenify" class="md-padding" layout-xs="column" layout="row" layout-align="left">
        <div layout="column" layout-align="left">
          
          <div layout="center">All Questions<br><br></div>
          <div flex-xs="50" flex-gt-xs="50" layout="column" layout-align="left center">
            <ul class="list" ng-repeat="question in quiz.questions">
              <li>{{question.question}}
                <button class="material-icons" ng-click="editQuestion($index)"><i class="material-icons">mode_edit</i></button>
                <button class="material-icons" ng-click="deleteQuestion($index)"><i class="material-icons">delete_forever</i></button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </md-content>
  </div>

  </div>
    
</div>