<div id="make-quiz" layout="column" ng-cloak="" flex-offset="10" flex="80">
    <h1>Make a quiz</h1>

  <md-input-container id="topic-selector">
    <label>Select Topic</label>
      <md-select ng-model="userTopic">
        <md-option ng-repeat="topic in topics" value="{{topic}}">
          {{topic}}
        </md-option>
      </md-select>
  </md-input-container>
  
  <md-input-container id="subtopic-selector">
    <label>Select Subtopic</label>
      <md-select ng-model="userSubtopic">
        <md-option ng-repeat="subtopic in subtopics" value="{{subtopic}}">
          {{subtopic}}
        </md-option>
      </md-select>
  </md-input-container>
  <div class="question-setup" layout="row" layout-align="center stretch">
  
  <div layout="column" layout-align="center stretch">
    <md-content id="quiz-setup" class="md-padding" layout-xs="column" layout="row" layout-align="left center">
       <div flex-xs="50" flex-gt-xs="50" layout="column" layout-align="left center">
        <form>
           Quiz Title: <input type="text" ng-model="quiz.quiz" /><br />
           Quiz Details: <input type="email" ng-model="quiz.details" /><br />
        </form>
      </div>
    </md-content>
    <md-content id="answer-setup" class="md-padding" layout-xs="column" layout="row" layout-align="left center" >
      <div flex-xs="50" flex-gt-xs="50" layout="column" layout-align="left center">

        <div ui-view="question"></div>
      </div>
    </md-content>
  </div>

  <div layout="row" layout-align="none stretch" flex-xs="50" flex-gt-xs="50">
    <md-content id='all-questions' class="md-padding" layout-xs="column" layout="row" layout-align="left">
       <div layout="column" layout-align="left">
       <div>All Questions<br><br></div>
       <div ng-repeat="question in questions">{{question.question}}<i class="material-icons">mode_edit</i><i class="material-icons">delete_forever</i></div>
      </div>
    </md-content>
  </div>

  </div>
    <section layout="row" layout-sm="column" layout-wrap="">
      <md-button class="md-raised">Save Quiz</md-button>
    <section layout="row" layout-sm="column" layout-wrap="">
      <md-button class="md-raised" ng-click="addQuestion()">Add a Question</md-button>  
</div>