<div id="menu">
<div layout="column" flex="33" flex-sm="100" layout-align="center center">
	<md-menu>
	  <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
	      <i class="material-icons">menu</i>
	  </md-button>
	  <md-menu-content width="4">
	    <md-menu-item>
	      <a ui-sref="main">Home</a>
	    </md-menu-item>
	    <md-menu-item>
	      <a ui-sref="user">Profile</a>
	    </md-menu-item>
	    <md-menu-item>
	      <a ui-sref="selectQuiz">Take a Quiz</a>
	    </md-menu-item>
	    <md-menu-item>
	      <a ui-sref="makeQuiz">Make a Quiz</a>
	    </md-menu-item>
	  </md-menu-content>
	</md-menu>
	</div>
</div>