<div id="signup" layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage" flex-offset="10" flex="80">
<h1>Sign Up</h1>

  <md-content layout-padding="10">
    <div>
      <form name="userForm">

        <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Username</label>
            <input ng-model="user.username" type="text">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Password</label>
            <input ng-model="user.password" type="password">
          </md-input-container>

        </div>

        <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Name</label>
            <input ng-model="user.name" type="text">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Email</label>
            <input ng-model="user.email" type="email">
          </md-input-container>

        </div>
      </form>
    </div>
  </md-content>
  <md-button class="md-raised md-primary" ng-click="signup(user.username, user.password, user.name, user.email); user.username=''; user.password=''; user.name=''; user.email='';">Submit</md-button>
</div>

