<div id="signup" layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage" flex-offset="10" flex="80">
  <div>Sign Up</div>

  <md-content layout-padding="10">
    <div>
      <form class="sketchy-form" name="userForm" ng-submit="signup()">

        <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Username</label>
            <input ng-model="user.username" type="text">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Password</label>
            <input ng-model="user.password" type="password">
          </md-input-container>

        </div>

        <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Name</label>
            <input ng-model="user.name" type="text">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Email</label>
            <input ng-model="user.email" type="email">
          </md-input-container>

        </div>
    <div class="sketchy-buttons">    
      <md-button class="md-raised md-primary" type="submit">Submit</md-button>
      <md-button class="md-raised md-primary" type="submit">Cancel</md-button>
      <span class="error">{{ signupError }}</span>
    </div>
      </form>
    </div>
  </md-content>
</div>

