<div id="take-quiz" layout="column" ng-cloak="" flex-offset="10" flex="70">
<h1>{{title}}</h1>
  <md-content id="answer-selector" class="md-padding" layout-xs="column" layout="row">
	   <div flex-xs="" flex-gt-xs="90" layout="column" >
	     <md-card class="answer-card" ng-repeat="key in questions">
	       <md-card-title>
	         <md-card-title-text>
	           <span class="md-headline">{{key.question}}}</span>
	         </md-card-title-text>
	       </md-card-title>
	       <br>
	       <div class="md-padding">
		  <form>
		    <input type="radio" name="{{key.question}}" value="{{key.answers[0]}}">
		    {{key.answers[0]}}
		    <br>
		    <br>
            <input type="radio" name="{{key.question}}" value="{{key.answers[1]}}">
            {{key.answers[1]}}
            <br>
            <br>
            <input type="radio" name="{{key.question}}" value="{{key.answers[2]}}">
            {{key.answers[2]}}
            <br>
            <br>
            <input type="radio" name="{{key.question}}" value="{{key.answers[3]}}">
            {{key.answers[3]}}
            <br>
            <br>
		  </form>
		  </div>
	     </md-card>
	     <md-button class="md-raised md-primary" ng-click="submit">Submit Quiz</md-button>
	   </div>
  </md-content>
</div>