<div id="take-quiz" layout="column" ng-cloak="" flex-offset="10" flex="80">
    <h1>Available Quizzes</h1>

   <md-input-container id="topic-selector">
        <label>Select Topic</label>
        <md-select ng-model="userTopic">
          <md-option ng-repeat="topic in topics" value="{{topic}}">
            {{topic}}
          </md-option>
        </md-select>
      </md-input-container>

	<md-content id="quiz-selector" class="md-padding" layout-xs="column" layout="row">
	   <div flex-xs="" flex-gt-xs="90" layout="column" >

	     <md-card class="quiz-card" ng-repeat="key in quizzes | filter:userTopic">
	       <md-card-title>
	         <md-card-title-text>
	           <span class="md-headline">{{ key.name }}</span>
	           <span class="md-subhead">{{ key.topic }}</span>
	         </md-card-title-text>
	         <md-card-title-media>
	           <img src="{{imagePath}}">
	         </md-card-title-media>
	       </md-card-title>
	       <md-card-actions layout="row" layout-align="end center">
	         <md-button>Take Quiz</md-button>
	         <md-button>Details</md-button>
	       </md-card-actions>
	     </md-card>
	   </div>
	 </md-content>

</div>