<div id="user">
  <div id="w">
  <div id="content" class="clearfix">
    <div id="userphoto"><img src="assets/avatar.png" alt="default avatar"></div>
    <h1 class="subtitle">{{}}'s Profile</h1>

    <nav id="profiletabs">
      <ul class="clearfix">
        <li><a href="#quizzesTaken" class="sel">Quizzes Taken</a></li>
        <li><a href="#quizzesMade">Quizzes Made</a></li>
        <li><a href="#settings">Settings</a></li>
      </ul>
    </nav>

    <section id="quizzesTaken">

    </section>

    <section id="quizzesMade" class="hidden">

    </section>

    <section id="settings" class="hidden">
      <p>Edit your user settings:</p>

      <p class="setting"><span>E-mail Address <img src="assets/edit.png" alt="*Edit*"></span> lolno@gmail.com</p>


      <p class="setting"><span>Profile Status <img src="assets/edit.png" alt="*Edit*"></span> Public</p>


    </section>
  </div>
</div>
</div>
