body {
    background-image: url("assets/chalkboard.jpg");
}

#main {
  font-family: 'Handlee', cursive;
  color: white;
  font-size: 72px;
  text-align: center;
  font-weight: bold;
}

.btn1 {
  color : rgb(49, 46, 46);
  background-color: rgba(255, 222, 121, 0.96);
  border-radius: 10px 0 0 10px;
  font-size: 16px;
}

.btn1:not([disabled]):hover {
  background-color: rgba(107, 103, 91, 0.96);
  color: white;
}
